/* File: style.css (Aggiornato) */

body {
    /* Fira Sans for the main text (Regular - 400) */
    font-family: 'Fira Sans';
    font-weight: 400;
    background-color: #f8f9fa;
    color: #25282A;
}

/* roboto-slab-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-slab-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-slab-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fira-sans-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/fira-sans-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/fira-sans-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* h1: Roboto Slab Bold */
h1.display-4{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

/* h2: Roboto Slab Regular */
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

/* h3, h4, h5, h6: Fira Sans Bold */
h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700; /* Bold */
    color: #25282A;
}


/* Class to define a readable website, 45-75ch rule */
.text-container {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

/* ======================================= */
/* Styles for D3.js Charts               */
/* ======================================= */

.axis path, .axis line { 
  stroke: #ccc; 
}

.axis text { 
  font-family: 'Fira Sans' !important; 
  
  font-size: 10px; 
  color: #25282A; /* You can change this to #25282A if you prefer */
}

.cell { 
  stroke-width: 1px; 
  stroke: #eee; 
}

.legend-text {
  font-family: 'Fira Sans' !important; /* Forza Fira Sans */
  font-size: 12px;
}